<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angry</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styledd.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_emot.css">
</head>
<body>
    <style>
        a { color: #000000; } /* CSS link color */
      </style>
    <div>
        <h1 class="md">Here's your plalyist!</h1>
    </div>
    <div class="what">
      <div class="spotify-playlists">

        <div class="list">
          

          <a href="https://open.spotify.com/album/33pt9HBdGlAbRGBHQgsZsU?highlight=spotify:track:0pqnGHJpmpxLKifKRmU6WP">
            <div class="item">
                <img src="../static/images/angry/believer.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Believer</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/5gQZvWM1o8NkQndueJtZcP?highlight=spotify:track:0tBbt8CrmxbjRP0pueQkyU">
            <div class="item">
                <img src="../static/images/angry/wolves.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Human</h4>
                <p>Wolves<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/7fhtLker4wksK42E4hyhxK?highlight=spotify:track:2169IKAivSUUFGcedGASXc">
            <div class="item">
                <img src="../static/images/angry/16shots.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>16shots</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/6Kssm2LosQ0WyLukFZkEG5?highlight=spotify:track:1V6gIisPpYqgFeWbMLI0bA">
            <div class="item">
                <img src="../static/images/angry/heartattack.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Heart attack</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/4lS8nhX8cplsYPzKjvhw6G?highlight=spotify:track:1Wcr8zrKqbUX0zwN8Dbr16">
            <div class="item">
                <img src="../static/images/angry/itzy.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Itzy</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/2mumCpGmuE9iDeOvMx6XrB?highlight=spotify:track:0qOnSQQF0yzuPWsXrQ9paz">
            <div class="item">
                <img src="../static/images/angry/stereo.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Stereo</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>

      <div class="spotify-playlists">
        <div class="list">
          
         
          <a href="https://open.spotify.com/album/3qw2vm3uqKT3EIg95wbg83?highlight=spotify:track:5GK7eDDTVz7CTge1wJrDQW">
            <div class="item">
                <img src="../static/images/angry/killthislove.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Kill this love</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/4QLAtpLNUsHEYrcHXmMIZZ?highlight=spotify:track:5HCyWlXZPP0y6Gqq8TgA20">
            <div class="item">
                <img src="../static/images/angry/Stay-cover.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Stay</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/28tUf89XzjZ5O5yOnvVTqM?highlight=spotify:track:3MxLT7m4BjAA0lQl9lVBcM6">
            <div class="item">
                <img src="../static/images/angry/Slumdog-Millionaire-2009-500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Slumdog Millionaire</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/3m5FIubiCHr9mH3BU7ngY4?highlight=spotify:track:7vZz8oJ5qAqB9MghufRK5kc">
            <div class="item">
                <img src="../static/images/angry/81gZSV9IvBL._SL1313_.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Bhaag Milkha Bhaag</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/2Lxoc72vRTGdQfMvj7Ovi1?highlight=spotify:track:4eu27jAU2bbnyHUC3G75U8">
            <div class="item">
                <img src="../static/images/angry/61zpep-7pTL.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Badtameez dil</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/5InIzc3p2f9FRErhzNUPTi?highlight=spotify:track:1sxh0eqIb8ulYypPuq6ZRu">
            <div class="item">
                <img src="../static/images/angry/61F5d4dLEeL.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>>Delhi Belly</h4>
                <p>Angry Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>
    </div>




    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>