<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style_emot.css" />
</head>
<body>
    <h1 class="head">Click on start to start detecting your emotion!</h1>
    <video id="video" width="540" height="380" style="margin-top: 180px; margin-left: 580px;" autoplay></video>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <button id="start" class="output">Start</button>
    
    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const startButton = document.getElementById('start');
        const framesToSend = 3;  // Number of frames to send
        let framesCaptured = 0;

        function stopCameraStreamAndRedirect() {
            video.srcObject.getTracks().forEach(track => {
                track.stop();
            });
            video.srcObject = null;
            clearInterval(intervalID);
            window.location.href = "/emo";
    //         fetch('/emo', {
    // method: 'POST',
    // headers: {
    //     'Content-Type': 'application/json'
    // },
// })  
            
        }

        function sendFrames() {
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const dataURL = canvas.toDataURL('image/jpeg');
            fetch('/send_frames', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({frame: dataURL})
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(err => {
                    console.error(err);
                });

            framesCaptured += 1;
            if (framesCaptured >= framesToSend) {
                stopCameraStreamAndRedirect();
            }
        }

        let intervalID;
        function startSendingFrames() {
            framesCaptured = 0;
            intervalID = setInterval(sendFrames, 1000);  // Send frames every 0.5 seconds
            setTimeout(stopCameraStreamAndRedirect, 3000);  // Stop camera stream and redirect after 15 seconds
        }

        startButton.onclick = function() {
            navigator.mediaDevices.getUserMedia({video: true})
                .then(stream => {
                    video.srcObject = stream;
                    startSendingFrames();
                })
                .catch(err => {
                    console.error(err);
                });
        };
    </script>
</body>
</html>
