<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fear</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styledd.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_emot.css">
</head>
<body>
    <style>
        a { color: #000000; } /* CSS link color */
      </style>
    <div>
        <h1 class="md">Here's your plalyist!</h1>
    </div>
    <div class="what">
      <div class="spotify-playlists">

        <div class="list">
          

          <a href="https://open.spotify.com/track/4FCb4CUbFCMNRkI6lYc1zI?si=cfa56335de874ab8">
            <div class="item">
                <img src="../static/images/fear/hero.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Hero</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/4IqcDJPzDL8Hq8KwAX4jUE?si=4ee96741c17e4fa8">
            <div class="item">
                <img src="../static/images/fear/human.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Human</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/0u2P5u6lvoDfwTYjAADbn4?si=48900b45ed384804">
            <div class="item">
                <img src="../static/images/fear/lovely.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Lovely</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/0fiijtFXDJ9MOVwgSaEQJ5?si=76ce4ad6bacd40f9">
            <div class="item">
                <img src="../static/images/fear/five-feet-apart-500x445.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Five feet apart</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/2rizacJSyD9S1IQUxUxnsK?si=0057eb5e2e954367">
            <div class="item">
                <img src="../static/images/fear/all_we_know.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>All we know</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/0Yld4eVEV6rBvpijVU2s6l?si=4fdd4323face4a99">
            <div class="item">
                <img src="../static/images/fear/Dangal_Poster.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Dangal</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>

      <div class="spotify-playlists">
        <div class="list">
          
         
          <a href="https://open.spotify.com/track/4iD7Gp25PmlnE0gqZakT2P?si=26e3f737084741fb">
            <div class="item">
                <img src="../static/images/fear/grace.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Grace</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/6ABHr8kYCws5z6gC9Lwith?si=6ef53822f61a4c40">
            <div class="item">
                <img src="../static/images/fear/baarish.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Baarish</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/5ZtfujhQIVRZm2RMZPQ3iD?si=a698eee19b0b4b16">
            <div class="item">
                <img src="../static/images/fear/only_you.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Only you</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/0XER3HPMx223xWaAgNKp4Y?si=9e8b2758d55845ac">
            <div class="item">
                <img src="../static/images/fear/my-mind-n-me.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>My mind n me</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/4l0Mvzj72xxOpRrp6h8nHi?si=a6597b17df774ff3">
            <div class="item">
                <img src="../static/images/fear/lose-you-to-love-me.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Lose you to love me</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/5CZ40GBx1sQ9agT82CLQCT?si=c2b51dcf5f004467">
            <div class="item">
                <img src="../static/images/fear/traitor.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Traitor</h4>
                <p>Fear Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>
    </div>




    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>