<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styledd.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_emot.css">
</head>
<body>
    <style>
        a { color: #000000; } /* CSS link color */
      </style>
    <div>
        <h1 class="md">Here's your plalyist!</h1>
    </div>
    <div class="what">
      <div class="spotify-playlists">

        <div class="list">
          

          <a href="https://open.spotify.com/album/40LbnfieVTWtHrK24WQeEB">
            <div class="item">
                <img src="../static/images/happy/Justin_Timberlake_-_Can't_Stop_the_Feeling.png" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Can't stop the feeling</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/3meZFplbMmji648oWUNEfQ">
            <div class="item">
                <img src="../static/images/happy/artworks-000203530593-42w0pg-t500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Rockabye</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/2Lxoc72vRTGdQfMvj7Ovi1?highlight=spotify:track:5cgKosPPj5Cs9a2JQufUc1">
            <div class="item">
                <img src="../static/images/happy/yjhd.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Ilahi</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/5ASFrellizlx98SmsItOEm?highlight=spotify:track:0zHZSO80CTxNtvtRhveHRJ">
            <div class="item">
                <img src="../static/images/happy/Baar-Baar-Dekho-Hindi-2016-20181205114400-500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Baar-Baar-Dekho</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/2LZdFnXIXuky0S0Jhdl4Qz?si=62b0450ccbb94056">
            <div class="item">
                <img src="../static/images/happy/I-Got-You-I-Feel-Good.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>I Got you (I feel good)</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/4kbj5MwxO1bq9wjT5g9HaA?si=65af443b508444fe">
            <div class="item">
                <img src="../static/images/happy/shut-up-and-dance.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Shut Up & Dance</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>


         


          
        </div>
      </div>

      <div class="spotify-playlists">
        <div class="list">
          
         
          <a href="https://open.spotify.com/track/6F5c58TMEs1byxUstkzVeM?si=dc29e98265d541ec">
            <div class="item">
                <img src="../static/images/happy/roar.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Roar</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/298atiKYvG84VfbXNbZiX5?si=1b85eb85d21a4744">
            <div class="item">
                <img src="../static/images/happy/ad.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Adhoore</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/3BmcYMh0KYsimWL6p2gPa9?highlight=spotify:track:6epn3r7S14KUqlReYr77hA">
            <div class="item">
                <img src="../static/images/happy/Babycoverart.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Baby</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/77jAfTh3KH9K2reMOmTgOh?highlight=spotify:track:27SdWb2rFzO6GWiYDBTD9j">
            <div class="item">
                <img src="../static/images/happy/Sia_Cheap_Thrills.png" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Cheap Thrills</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/13aeLAMXve4Jxd8mNKu068?highlight=spotify:track:1ZLrDPgR7mvuTco3rQK8Pk">
            <div class="item">
                <img src="../static/images/happy/Shaun_Way_Back_Home_cover_art.webp" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Way Back Home</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/7BKLCZ1jbUBVqRi2FVlTVw?si=bc2a09b51def4d14">
            <div class="item">
                <img src="../static/images/happy/closer.png" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Closer</h4>
                <p>Happy Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>
    </div>




    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>