<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/style_emot.css" />
  </head>

  <body>
    <h1 class="head">Detecting your Emotion!</h1>
    <div style="margin-top: 200px; margin-left: 640px;">
      <img src="{{ url_for('video') }}" width="40%" height="40%" />
    </div>
    <div class="output">
      <h2><a href="/emo" class="btn2">Mood</a></h2>
    </div>

    <div id="countdown" class="head2"></div>
    <script>
      var timeleft = 15;
      var downloadTimer = setInterval(function () {
        if (timeleft <= 0) {
          clearInterval(downloadTimer);
          document.getElementById("countdown").innerHTML =
            "Tap Below to reveal your Mood!";
        } else {
          document.getElementById("countdown").innerHTML =
            timeleft + " seconds remaining";
        }
        timeleft -= 1;
      }, 1000);
    </script>
  </body>
</html>
