<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melodify</title>

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="front">
      <h1>MELODIFY</h1>
    </div>
    <div class="btn">
      <a href="/about" class="btn1"> About </a>
      <a href="/detect" class="btn1" id="snap">Let's Start</a>
    </div>

    <div class="img">
      <img src="../static/images/music_notes1.png" />
    </div>



    <script>
      const snap = document.getElementById('snap');
      const canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const width = canvas.width;
      const height = canvas.height;

      snap.addEventListener('click', function () {
        navigator.mediaDevices.getUserMedia({ video: true })
          .then(function (stream) {
            const video = document.createElement('video');
            video.srcObject = stream;
            video.play();
          });
      });
    </script>

  </body>
</html>
