<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/style_emot.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <h1 class="head">Detecting your Emotion!</h1>
    <div class="vid">
      <img src="{{ url_for('video') }}" width="35%" height="35%"/>
    </div>

    <!-- <button type="button" class="output" id = "mybutton" onclick="validate();">Playlist</button> -->
    <!-- <a href="" class="output" id = "mybutton" onclick = "validate()"> Playlist </a> -->

    
    <div class="output" id = "mybutton">
      <!-- <h2>{{ predicted_emotion}}</h2> -->
      <h2><a href = "/emo" class="btn1">Mood</a></h2>
    </div>

    <div id="countdown" class="head2"></div>
    <script>
      var timeleft = 10;
      var downloadTimer = setInterval(function () {
        if (timeleft <= 0) {
          clearInterval(downloadTimer);
          document.getElementById("countdown").innerHTML =
            "Tap Below to reveal your Mood!";
        } else {
          document.getElementById("countdown").innerHTML =
            timeleft + " seconds remaining";
        }
        timeleft -= 1;
      }, 1000);
    </script>
<!-- 
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#mybutton").hide().delay(10000).fadeIn(2200);
      });
    </script>
    <script type="text/javascript">
      function validate() {
        // alert("yes")
        var value = '{{predicted_emotion}}';
        alert(value)
        if (value == 'Neutal') {
          window.location.href = "D:\PROJECTS\Music\emotion_cnn_try\templates\neutral.html";
        } else {
          // return false;
          window.location.href = "D:\PROJECTS\Music\emotion_cnn_try\templates\neutral.html";;
        }
      }
    </script> -->




  </body>
</html>
