<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neutral</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styledd.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_emot.css">
</head>
<body>
    <style>
        a { color: #000000; } /* CSS link color */
      </style>
    <div>
        <h1 class="md">Here's your plalyist!</h1>
    </div>
    <div class="what">
      <div class="spotify-playlists">

        <div class="list">
          

          <a href="https://open.spotify.com/album/7lPoGKpCGgdKFAxpudhAH5?highlight=spotify:track:2BgEsaKNfHUdlh97KmvFyo">
            <div class="item">
                <img src="../static/images/neutral/2002.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>2002</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/0yLdNVWF3Srea0uzk55zFn?si=a9d93a37a61c4ec6">
            <div class="item">
                <img src="../static/images/neutral/miley-cyrus-outfits-flowers-music-video.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Flowers</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/4RpgjxgSxcRwGNuWnImneN?highlight=spotify:track:514rhnksEwHUh6LxXsQ4Y9">
            <div class="item">
                <img src="../static/images/neutral/18485907_209514846227721_8555275554826691690_n.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Back to you</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/3nzuGtN3nXARvvecier4K0?highlight=spotify:track:0lks2Kt9veMOFEAPN0fsqN">
            <div class="item">
                <img src="../static/images/neutral/500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Lily</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/6PBwTu4IgZMQNTKtrgxzZQ?highlight=spotify:track:1BSMpVGWs3v5BZKnAQziAc">
            <div class="item">
                <img src="../static/images/neutral/artworks-9BDIEBWbDFfR-0-t500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Light Switch</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/6nYfHQnvkvOTNHnOhDT3sr?highlight=spotify:track:5FVbvttjEvQ8r2BgUcJgNg">
            <div class="item">
                <img src="../static/images/neutral/43e560d2-1c0d-4277-a58c-02cdac930a93.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Life Goes on</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>

      <div class="spotify-playlists">
        <div class="list">
          
         
          <a href="https://open.spotify.com/album/5ExDI42RCtISkQXAgv8dtZ">
            <div class="item">
                <img src="../static/images/neutral/artworks-Vn2zozp5GIIegpT5-zhezYQ-t500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Permission to Dance</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/29njH6pDF6JE65D2VJbAxW?highlight=spotify:track:6k3XXCE1ZzwevQlxf8dNaw">
            <div class="item">
                <img src="../static/images/neutral/ab67616d0000b27349079e6945b600abe668cae4.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Love you Zindagi</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/7b0RW9Inq2jLmTGonmqv11?highlight=spotify:track:0mJTAdmY8olbGQjopDYff3">
            <div class="item">
                <img src="../static/images/neutral/size_l_1554479538.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Vaaste</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/4xju6tQ4eWUSxC7k7MAtUe">
            <div class="item">
                <img src="../static/images/neutral/raabtajpg.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Raabta/h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/track/5wANPM4fQCJwkGd4rN57mH?si=f602f97ff53546b3">
            <div class="item">
                <img src="../static/images/neutral/drivers-license.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Drivers Liscence</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/2Svje8vKEM4VCKxoRyAvA4?highlight=spotify:track:5O932cZmzOZGOGZz9RHx20">
            <div class="item">
                <img src="../static/images/neutral/chhichhore .jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Khairiyat</h4>
                <p>Neutral Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>
    </div>




    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>