<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sad</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styledd.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_emot.css">
</head>
<body>
    <style>
        a { color: #000000; } /* CSS link color */
      </style>
    <div>
        <h1 class="md">Here's your plalyist!</h1>
    </div>
    <div class="what">
      <div class="spotify-playlists">

        <div class="list">
          

          <a href="https://open.spotify.com/album/0UuTH5r9tyFJ2tqnvc1wWm?highlight=spotify:track:5T2ZZiBMDGh3TZDUbxg4rV">
            <div class="item">
                <img src="../static/images/sad/artworks-000213664436-3r86p9-t500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Kaun Tujhe</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/2sBB17RXTamvj7Ncps15AK?highlight=spotify:track:0u2P5u6lvoDfwTYjAADbn4">
            <div class="item">
                <img src="../static/images/sad/artworks-000523333341-unfx00-t500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Lovely</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/1RWiRfdNZKDe8VXzzf2VEc?highlight=spotify:track:45bE4HXI0AwGZXfZtMp8JR">
            <div class="item">
                <img src="../static/images/sad/You_Broke_Me_First_-_Tate_McRae.png" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>You Broke Me First</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/3aeT26ypiF8fCWImdu0cGs?highlight=spotify:track:35P2Xal9x3GAdOHytyEUFe">
            <div class="item">
                <img src="../static/images/sad/350e9253-14a2-4387-8a11-372106f40a6e_1024.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Phir bhi tumko chahunga</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/track/0jZO7p0nBUi9VHedWUBS9l?si=202bd7e21a12418f">
            <div class="item">
                <img src="../static/images/sad/the-night-we-met.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>The Night we met</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>


          <a href="https://open.spotify.com/album/4iyJ8i3eKbez8JXDbsHIdZ?highlight=spotify:track:04sN26COy28wTXYj3dMoiZ">
            <div class="item">
                <img src="../static/images/sad/13reasonswhy.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Bored</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>

      <div class="spotify-playlists">
        <div class="list">
          
         
          <a href="https://open.spotify.com/album/5Hn2O2s9NQ5EaPtwAc665L?highlight=spotify:track:6fW78cd0p3ZDUzoqvx2Xqe">
            <div class="item">
                <img src="../static/images/sad/41tIFPC805L.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Mukurane</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/7xV2TzoaVc0ycW7fwBwAml?highlight=spotify:track:1ZMiCix7XSAbfAJlEZWMCp">
            <div class="item">
                <img src="../static/images/sad/Fine_Line_Cover_Art.webp" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Falling</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/690w3h4czL3x3W3zIgEcB6?highlight=spotify:track:3i11e2jzUtO3jChiFl3v9x">
            <div class="item">
                <img src="../static/images/sad/tere_liye.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Tere Liye</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/6mJIpY6r2SzZbLN3ClYCbb?highlight=spotify:track:0PxMHdQ6bSz9q0eJj3kJzb">
            <div class="item">
                <img src="../static/images/sad/ab67616d0000b273d79e0d62e3946104b9f07870.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Baatein ye kabhi na</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/5658aM19fA3JVwTK6eQX70?highlight=spotify:track:7qEHsqek33rTcFNT9PFqLf">
            <div class="item">
                <img src="../static/images/sad/artworks-5VCxiNQdKysNTV2y-Qu5QwQ-t500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Someone you loved</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>

          <a href="https://open.spotify.com/album/3UeQky60klTQg4svlsc0yT?highlight=spotify:track:62usIcDxqFIQ7x5qN91hrN">
            <div class="item">
                <img src="../static/images/sad/500x500.jpg" />
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>I need your love</h4>
                <p>Sad Music<br>. </p>
              </div>
          </a>
          
        </div>
      </div>
    </div>




    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>